<%= display_flash %>
<p>ログイン</p>
<div class="login">
  <%= form_for @auth_form, url: login_process_path do |f| %>
    <label>ログインID</label>
    <%= f.text_field :login_id%>
    <label>パスワード</label>
    <%= f.password_field :password %>
    <%= f.submit "ログイン" %>
  <% end %>
</div>
