<p>ユーザー登録</p>

<% if @regist_form.errors.any? %>
  <div id="error">
    <h2><%= pluralize(@regist_form.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @regist_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="registration">
  <%= form_for @regist_form, url: signup_process_path do |f| %>
    <label>記号</label>
    <%= f.text_field :code%><br>
    <label>番号</label>
    <%= f.text_field :number%><br>
    <label>性</label>
    <%= f.text_field :family_name%><br>
    <label>名</label>
    <%= f.text_field :first_name%><br>
    <label>カナ性</label>
    <%= f.text_field :family_name_kana%><br>
    <label>カナ名</label>
    <%= f.text_field :first_name_kana%><br>
    <label>生年月日</label>
    <%= f.date_select :birthday, :start_year => 1900, :end_year => Time.now.year %><br>
    <label>メールアドレス</label>
    <%= f.email_field :email %><br>
    <label>メールアドレス(確認)</label>
    <%= f.email_field :email_confirmation %><br>
    <label>ログインID</label>
    <%= f.text_field :login_id %><br>
    <label>パスワード</label>
    <%= f.password_field :password %><br>
    <label>パスワード(確認)</label>
    <%= f.password_field :password_confirmation %><br>
    <label>ニックネーム</label>
    <%= f.text_field :nickname %><br>
    <%= f.submit "仮登録" %>
  <% end %>
</div>
