<!DOCTYPE html>
<html>
  <head>
    <title>Fly</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if notice %>
      <div class="notice">
        <ul>
          <li><%= notice %></li>
        </ul>
      </div>
    <% end %>
    <% if alert %>
      <div class="notice">
        <ul>
          <li><%= alert %></li>
        </ul>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
